@import url("https://fonts.googleapis.com/css2?family=Forum&family=Headland+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.ts";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-normal {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* .poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
} */
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.home-background {
  background: linear-gradient(
      to top,
      rgba(229, 110, 30, 0.6),
      rgba(229, 110, 30, 0.6)
    ),
    url("assets/home-background.jpg");
  background-position: center;
  background-size: cover;
}

.main-background {
  background: url(assets/main-background.svg);
  background-position: center;
  background-size: cover;
}

.thin-scrollbar::-webkit-scrollbar {
  height: 4px; /* For horizontal scrollbar */
  width: 4px; /* For vertical scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* For Firefox */
.thin-scrollbar {
  scrollbar-width: thin; /* makes it thinner */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* thumb and track */
}

@layer components {
  .disabled:disabled {
    @apply bg-zinc-400/35 text-zinc-400;
  }

  .custom-border {
    @apply border border-zinc-800/15;
  }
}

@layer utilities {
  .product-thead > tr > td {
    @apply text-secondary text-[0.7rem] p-1.5 text-center bg-zinc-200/70 border border-zinc-400/20;
  }
  .product-thead-orderlist > tr > td {
    @apply text-zinc-100 text-[0.7rem] p-2.5 bg-secondary/95 text-center border-r border-zinc-300/25;
  }

  .product-tbody > tr > td {
    @apply text-[0.75rem] text-secondary p-2.5 text-center group-hover:text-zinc-100 transition-colors ease-in-out duration-75;
  }
  /* .product-tfoot > tr {
    @apply p-3;
  } */
  .product-tfoot > tr > td > div {
    @apply rounded-3xl bg-zinc-400 animate-pulse w-5 h-3;
  }
}

/* Parts of Scrollbar */

/* ┌──────────┐
   │ Track    │ ← scrollbar-track
   │ ──────   │
   │  Thumb   │ ← scrollbar-thumb
   │ ──────   │
   │ Track    │
   └──────────┘ */
